#libaryTable {
    font-size: 20px;
    gap:20px;
}

h1 {
    text-align: center;
}

td {
    padding-right:20px;
}

#container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fill-in {
    margin-right: 100px;
    margin-bottom: 25px;
    font-size: 32px;
    display:flex;
    flex-direction:column;
}